body {
   background-color: aqua;

}

h1 {
    color: blue;

}

h2 {
    color: green;
}

ul {
    background-color: yellow;
    border: 3px dashed red;
    width: 410px;
    padding-top: 1%;
    padding-bottom: 1%;

}

.nom {
    color: green;

}